<% provide(:title, 'Resume') %>
<div id="content_padder">
    <div id="name_title">James Alexander Bumbalough</div>
    <div id="box_row">
        <div id="box1"><a href="http://goo.gl/maps/MqDvw" target="_blank">185 Lincolnshire Road<br>Gahanna, OH. 43230</a></div>
        <div id="box2"><a href="#">(937) 831-3644</a><br><a href="#" onMouseOver="hideDiv()">james.bumbalough@gmail.com</a></div>
    </div>
    <div class="title_bar">Objective Statement</div>
    <div class="greybox">Seeking a position in the web development field, preferably as a Flash or a full stack developer.</div>
    <div class="title_bar">Education</div>
    <div class="greybox"><b>Ashland University</b><br>
        <b>Bachelor of Science:</b> Computer Art and Graphics Programming<br>
        <b>Minor:</b> Computer Science<br>
        <b>Graduation Date:</b> May of 2007<br>
        <b>G.P.A.</b> 3.478</div>
    <div class="title_bar">Application Knowledge</div>
    <div id="work_experience">
    Software / Applications:<br>
    <table cellspacing="0" cellpadding="0">
        <tr>
            <td class="tableheader">Adobe</td>
            <td class="tableheader">Sony</td>
            <td class="tableheader">3D Software</td>
            <td class="tableheader">Text Editors / IDEs</td>
        </tr>
        <tr>
            <td>- AIR</td>
            <td>- Sound Forge</td>
            <td>- 3D Studio Max</td>
            <td>- RubyMine</td>
        </tr>
        <tr>
            <td>- Dreamweaver</td>
            <td>- Vegas Video</td>
            <td>- Blender</td>
            <td>- Sublime Text</td>
        </tr>
        <tr>
            <td>- Flash</td>
            <td></td>
            <td>- Maya</td>
            <td>- Vim</td>
        </tr>
        <tr>
            <td>- Illustrator</td>
            <td></td>
            <td>- Swift 3D</td>
            <td>- Visual Studios</td>
        </tr>
    </table>
    <br>
    Languages and Scripts:<br />
    <table cellspacing="0" cellpadding="0">
        <tr>
            <td>- Ajax</td>
            <td>- ActionScript 3</td>
            <td>- C++</td>
            <td>- CSS / SCSS</td>
            <td>- HTML5</td>
            <td>- Java</td>
        </tr>
        <tr>
            <td>- JavaScript</td>
            <td>- MySQL</td>
            <td>- PHP</td>
            <td>- Python</td>
            <td>- Ruby</td>
            <td>- Rails</td>
        </tr>
    </table>
    </div>
    <div class="title_bar">Work Experience</div>
    <div class="greybox">
        <div class="work_title">Flash Developer</div>
        <div class="work_period">2007 - 2014</div>
    </div>
    <div class="work_description">
        <div class="company"><a href="http://kmionline.com">KMI, Columbus, Ohio</a></div>
        <div class="responsibilities">
            <ul>
                <li>- Built interactive Flash training modules for various companies</li>
                <li>- Responsible for the art and design of hundreds of training courses</li>
                <li>- Worked on dynamic Flash programs that ran off of XML scripting</li>
                <li>- Created several interactive Flash games and learning assessments</li>
                <li>- Worked directly with clients for individualized customization of projects</li>
                <li>- Converted Flash courses into mobile HTML5 applications</li>
                <li>- Helped redesign the KMI website</li>
            </ul>
        </div>
    </div>
    <div class="greybox">
        <div class="work_title">Freelance Webdesigner</div>
        <div class="work_period">2006-2007</div>
    </div>
    <div class="work_description">
        <div class="company">Webdev Works, Ashland, Ohio </div>
        <div class="responsibilities">
            <ul>
                <li>- Worked on several projects for potential clients</li>
                <li>- Created PHP scripts for data interaction with a MySQL database</li>
                <li>- Created an automated form mailer using PHP</li>
            </ul>
        </div>
    </div>
    <div class="greybox">
        <div class="work_title">Graphic Design Intern</div>
        <div class="work_period">Summer 2006</div>
    </div>
    <div class="work_description">
        <div class="company">Rock and Roll Hall of Fame, Cleveland, Ohio </div>
        <div class="responsibilities">
            <ul>
                <li>- Designed the 2006 Cuyahoga County Fair poster</li>
                <li>- Created powerpoint presentations for potential clients and donors</li>
                <li>- Created an image library of over 20,000 images</li>
            </ul>
        </div>
    </div>
    <div class="noPrint_button">
    <a href="#" onClick=" window.print(); return false"><div id="print_button"><%= image_tag("printer_icon.png", alt: "Printer Image") %>   Printable Version</div></a>
    </div>
</div>