<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to JamesBumbalough.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to JamesBumbalough.com
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for showing an interest and creating an account!</p>
  </body>
</html>